<!DOCTYPE html>
<html>
	<head>
	<title>buyresult</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<link rel="stylesheet" type="text/css" href="/css/result.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<div id="login-form">
		<div class="result">
			<h2>注文完了</h2>
			<p>注文が完了いたしました。取引までしばらくお待ちください</p>
		</div>	
		<div id="submit-btn"><a href="/techmatop/techma">TOP</a></div>
		</div>
	</body>
</html>
	