<!DOCTYPE html>

<html>
<head>
<title>itemserch</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>techma</title>
<link rel="stylesheet" type="text/css" href="/css/itemserch.css"></link>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"></link>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<canvas class="background"></canvas>
	<!--header.htmlの情報を読み込む-->
	<div th:replace="header"></div>
	<div class="item-serch-list">
		<h1>Item Serch</h1>
			<form class="serch-form" action="#" accept-charset="UTF-8" th:action="@{/techmatop/techma/itemserch/itemname}" method="get">				
				<input name="itemname" class="form-control" type="text" placeholder="item-serch"></input>
				<input th:if="${category.categoryId != null}" name="category" class="form-control" type="hidden" th:value="${category.categoryId}" placeholder="item-serch"></input>
				<button class="cp_button04" type="submit"><span>検索</span></button>
			</form>
			<div class="error">
				<div th:if="${noitem}"><span >ご指定の名称ではアイテムが見つかりませんでした。</span></div>
				<div th:if="${categorynoitem}"><span>選択したカテゴリーにアイテムがありません</span></div>
			</div>
		<div class="items">
			<div class="item" th:each="item : ${items}">
			<a href="/techmatop/techma/item/" th:href="@{/techmatop/techma/item/itemId(itemId=${item.itemId})}">
				<img class="item-image" th:if="${item.stock == 0}" src="/image/sould-out.png"></img>
				<img class="item-image" th:if="${item.filename == null and item.stock != 0}" src="/image/No_Image_Available.jpg"></img>
				<img class="item-image" th:if="${item.stock != 0 and item.filename != null}" th:src="|/itemimage/${item.filename}|"></img>
				<div class="status">
					<p>商品名:&nbsp;&nbsp;<span th:text="${item.itemname}"></span></p>
					<p>price:&nbsp;&nbsp;<span th:text="${item.price}"></span></p>
					<p>stock:&nbsp;&nbsp;<span th:text="${item.stock}"></span></p>
					<p>出品者:&nbsp;&nbsp; <span th:text="${item.user.username}"></span></p>
					<p>カテゴリー:&nbsp;&nbsp;<span th:text="${item.category.categoryname}"></span></p>
				</div>
			</a>
			</div>
		</div>				
	</div>
	<div class="btn">
		<button class="cp_button04" onclick="location.href='javascript:history.back()'"><span>前のページへ</span></button>
		<button class="cp_button04" onclick="location.href='/techmatop/techma'"><span>TOP</span></button>
	</div>
	<div class="footer">
	<div th:replace="footer"></div>
	</div>
	<script src="/js/demo.js"></script>
	<script src="/js/particles.min.js"></script>
	<script src="/js/itemserch.js"></script>
</body>	
</html>