<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<link rel="stylesheet" type="text/css" href="/css/footer.css"></link>
	</head>
	<body>
	<div  th:fragment="footernologin">
		<footer>
			<div class="footercontainer">
				<div class="footer-left">
					<a href="/techmatop/techma"><img class="logo" src="/image/techma.png"></img></a>
				</div>
				<div class="footer-right">
				<form >
					<div class="logout" ></div>
				</form>
				</div>
				<div class="coments">
					<p>enjoy! techma</p>
				</div>
			</div>
		</footer>
	</div>
	</body>
</html>