<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<link rel="stylesheet" type="text/css" href="/css/header.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
	<div  th:fragment="header">
		<header>
			<div class="container">
				<div class="header-left">
					<a href="/techmatop/techma"><img class="logo" src="/image/techma.png"></img></a>
					<div class="user" th:object="${userDatails}">
					<a href="/techmatop/techma/user" th:href="@{/techmatop/techma/user/}">LoginUser:
					<span sec:authentication="principal.user.username">Guest</span>
					</a></div>				
				</div>
				<div class="header-right">				
					<a href="/techmatop/techma/itemserch">Serch</a>
					<a href="/techmatop/techma/itemcreate">Put Up</a>
					<div class="contact" id="contact-show">Contact</div>
					<ul class="accordion">
						<li class="catagory-items">
							<div class="category">Categorys</div>
							<div class="nest" th:each="category : ${categories}">
								<a href="../../techmatop/techma/itemserch" th:href="@{/techmatop/techma/category(category=${category.categoryId})}" th:text="${category.categoryname}">categorys1</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<!--modalをJSで表示させるsignupformここから-->
		<div class="singup-modal-wrapper" id="signup-modal">
			<div class="singup-modal">
				<div class="close-modal">
					<i class="fa fa-2x fa-times"></i>
				</div>
				<div id="signup-form">
					<h2>新規アカウント作成</h2>
					<form th:action="@{techma/usercreate}" th:object="${userForm}" method="post">
						<input class="form-control" type="text" id="username" placeholder="UserName" th:field="*{username}" required="required"></input>
						<input class="form-control" type="email" placeholder="Email" id="mail" th:field="*{mail}" required="required"></input>
						<input class="form-control" type="text" placeholder="tel" id="tel" th:field="*{tel}" required="required"></input>
						<input class="form-control" type="password" placeholder="Password" id="password" th:field="*{password}" required="required"></input>
						<input class="form-control" type="password" placeholder="Password(確認)"></input>
						<div><button id="submit-btn" type="submit" class="yubi">登録</button></div>
					</form>
				</div>
			</div>
		</div>
		<!--modalをJSで表示させるsignupformここまで-->
		<!--modalをJSで表示させるcontacrformここから-->
		<div class="modal-wrapper" id="contact-modal">			
			<div class="modal">
			<div class="close-modal">
				<i class="fa fa-2x fa-times"></i>
			</div>
				<div id="contact-form">
					<h2>お問い合わせ</h2>
					<form action="#">
						<input class="form-control" type="email" placeholder="Email"></input>
						<input class="form-control" type="text" placeholder="UserName"></input>
						<input class="form-control" type="password" placeholder="Password"></input>
						<div id="submit-btn">送信</div>
					</form>
				</div>
			</div>
		</div>
		<!--modalをJSで表示させるcontacrformここまで-->
		<!--modalをJSで表示させるloginformここから-->
		<div class="modal-wrapper" id="login-modal">			
			<div class="modal">
			<div class="close-modal">
				<i class="fa fa-2x fa-times"></i>
			</div>
				<div id="login-form">
					<h2>LoginForm</h2>
					<form action="#">
						<input class="form-control" type="text" placeholder="UserName"></input>
						<input class="form-control" type="password" placeholder="Password"></input>
						<div id="submit-btn">Login</div>
					</form>
				</div>
			</div>
		</div>
		<!--modalをJSで表示させるloginformここまで-->
	</div>
	<script src="/js/header.js"></script>
	</body>
</html>