<!DOCTYPE html>
<html>
	<head>
	<title>itemresult</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<link rel="stylesheet" type="text/css" href="/css/result.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
	<canvas class="background"></canvas>
	<div class='box'>
  		<div class='wave -one'></div>
  		<div class='wave -two'></div>
  		<div class='wave -three'></div>	
  	<div class='title'></div>
  	</div>
  	<div class="center">
	<div id="login-form">
  	<h2>購入完了</h2>
		<div class="result">		
			<p>購入が完了いたしました</p>
		</div>	
		<div id="submit-btn"><a href="/techmatop/techma">TOP</a></div>
	</div>
	</div>	
		<script src="/js/particles.min.js"></script>
	<script src="/js/itemserch.js"></script>
	</body>
</html>
	