<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"></meta>
	<title>itemserch</title>
<link rel="stylesheet" type="text/css" href="/css/itemserch.css"></link>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<!--header.htmlの情報を読み込む-->
	<div th:replace="header"></div>
	<!--footer.htmlの情報を読み込む-->
	<div th:replace="footer"></div>
	<script src="/js/itemserch.js"></script>
</body>
</html>