<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>item</title>
<link rel="stylesheet" type="text/css" href="/css/item.css"></link>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"></link>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<!--header.htmlの情報を読み込む-->
	<div th:replace="header"></div>
	<!--modalをJSで表示させるsignupformここから-->
		<div class="item-wrapper">
		<div class="item-container">
			<div class="item-item">
				<h1>Item Status</h1>
				<h2>Item Name：</h2>
				<div class="item-pic">
					<img class="item-item-image" src="/image/demo.jpg"></img>
					<img class="item-item-image" src="/image/demo.jpg"></img>
					<img class="item-item-image" src="/image/demo.jpg"></img>
					<img class="item-item-image" src="/image/demo.jpg"></img>
				</div>
				<div class="item-item-status">
				<div class="item-status-wrapper">
					<p>価格:&nbsp;&nbsp;</p>
					<p>カテゴリー:&nbsp;&nbsp;</p>
					<p>状態:&nbsp;&nbsp;</p>
					<p>支払方法:&nbsp;&nbsp;</p>
					<p>在庫:&nbsp;&nbsp;</p>
					<a href="/techma/exhibitor"><p>出品者:&nbsp;&nbsp;</p></a>
				</div>
				<div class="coments-wrapper">
					<p>coments:<br></br>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
				</div>
				</div>
			</div>
		<div class="item-btn">
			<div class="gototop">
				<div class="form-check-top"><a href="/techma">Top</a></div>
			</div>
			<div class="buy">
				<div class="buy-btn">
					<a href="/techma/buyresult">Buy</a>
				</div>
			</div>	
		</div>
		</div>
		</div>	
	<!--footer.htmlの情報を読み込む-->
	<div th:replace="footer"></div>
	<script src="/js/demo.js"></script>
</body>	
</html>