<!DOCTYPE html>

<html>
<head>
<title>itemserch</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>techma</title>
<link rel="stylesheet" type="text/css" href="/css/itemserch.css"></link>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"></link>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<!--header.htmlの情報を読み込む-->
	<div th:replace="header"></div>
	<div class="item-serch-list">
			<form  class="serch-form" action="#">
				<h1>Item Serch</h1>
				<input class="form-control" type="text" placeholder="item-serch"></input>
			</form>
		<div class="items">
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/techma.png"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:ああああああああああああああああああああ</p>
				</div>
			</div>
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/demo.jpg"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:ああああああああああああああああああああ</p>
				</div>
			</div>
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/images.jpg"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:</p>
				</div>
			</div>
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/login2.jpg"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:</p>
				</div>
			</div>
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/images.jpg"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:</p>
				</div>
			</div>
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/images.jpg"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:</p>
				</div>
			</div>
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/images.jpg"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:</p>
				</div>
			</div>
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/images.jpg"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:</p>
				</div>
			</div>
			<div class="item">
			<a href="/techma/item">
				<img class="item-image" src="/image/images.jpg"></img>
			</a>
				<div class="status">
				<p>name:</p>
				<p>price:</p>
				<p>stock:</p>
				<p>coments:</p>
				</div>
			</div>
		</div>				
	</div>
	<div class="gototop"><a href="/techma">Top</a></div>
	<!--footer.htmlの情報を読み込む-->
	<div class="footer">
	<div th:replace="footer"></div>
	</div>
	<script src="/js/demo.js"></script>
</body>	
</html>