<!DOCTYPE html>
<html>
	<head>
	<title>login</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<link rel="stylesheet" type="text/css" href="/css/check.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<div id="login-form">
			<h2>出品確認</h2>
			<form action="#">
				<p>ItemName：</p>
				<p>価格:</p>
				<p>カテゴリー:</p>
				<p>状態:</p>
				<p>支払方法:</p>
				<p>数量:</p>
				<p>こちらでお間違いありませんか？</p>
				<div id="submit-btn">出品</div>
				<div id="submit-btn"><a href="/techma">TOP</a></div>
			</form>
		</div>
	</body>
</html>
	