<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>item</title>
<link rel="stylesheet" type="text/css" href="/css/item.css"></link>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"></link>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<!--header.htmlの情報を読み込む-->
	<div th:replace="header"></div>
	<!--modalをJSで表示させるsignupformここから-->
	<div class="item-wrapper">
		<div class="item-container">
			<div class="item-item">
				<h1>Item Status</h1>
			<form action="#" th:action="@{/techmatop/techma/buyresult/itemId(itemId=${item.itemId})}" th:object="${itemForm}" method="post">
				
				<h2>Item Name： <span th:text="${item.itemname}"></span></h2>
				<div class="item-pic">
					<img class="item-item-image" th:if="${item.stock != 0}" th:src="|/itemimage/${item.filename}|"></img>
					<img class="item-item-image" th:if="${item.stock == 0}" src="/image/sould-out.png"></img>
					<img class="item-item-image" th:if="${item.stock != 0}" th:src="|/itemimage/${item.filename}|"></img>
					<img class="item-item-image" th:if="${item.stock == 0}" src="/image/sould-out.png"></img>
					<img class="item-item-image" th:if="${item.stock != 0}" th:src="|/itemimage/${item.filename}|"></img>
					<img class="item-item-image" th:if="${item.stock == 0}" src="/image/sould-out.png"></img>
					<img class="item-item-image" th:if="${item.stock != 0}" th:src="|/itemimage/${item.filename}|"></img>
					<img class="item-item-image" th:if="${item.stock == 0}" src="/image/sould-out.png"></img>
				</div>
				
				<div class="item-item-status">
				<div class="item-status-wrapper">
					<p>価格:&nbsp;&nbsp; <span th:text="${item.price}"></span>￥</p>
					<p>カテゴリー:&nbsp;&nbsp;<span th:text="${item.category.categoryname}"></span></p>
					<p>状態:&nbsp;&nbsp;　<span th:text="${item.condition}"></span></p>
					<p>支払方法:&nbsp;&nbsp; <span th:text="${item.payment}"></span></p>
					<p>在庫:&nbsp;&nbsp; <span th:text="${item.stock}"></span></p>
					<a href="/techmatop/techma/exhibitor"><p>出品者:&nbsp;&nbsp; <span th:text="${item.user.username}"></span></p></a>
				</div>
				<div class="coments-wrapper">
					<p>coments:<br></br><span th:text="${item.comments}"></span></p>
				</div>
					<div class="purchasenumber" th:with="x=${item.stock}" th:if="${item.stock!=0}">
					<p>購入数</p>
					<select name="purchasenumber" th:field="*{purchasenumber}">
						<option th:each="i : ${#numbers.sequence(1, x)}" th:text="${i}" th:value="${i}"></option>
					</select>
					</div>
				</div>
			<div class="item-btn">
				<div class="gototop">
					<div class="form-check-top"><a href="/techmatop/techma">Top</a></div>
				</div>
				<div class="buy">
					<div class="buy-btn" th:if="${item.stock != 0}">
						<input type="submit" value="Buy"></input>		
					</div>
				</div>	
			</div>
			</form>
			</div>
		</div>
	</div>	
	<!--footer.htmlの情報を読み込む-->
	<div th:replace="footer"></div>
	<script src="/js/demo.js"></script>
</body>	
</html>