<!DOCTYPE html>

<html>
<head>
<title>itemserch</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>techma</title>
<link rel="stylesheet" type="text/css" href="/css/itemserch.css"></link>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"></link>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
	<!--header.htmlの情報を読み込む-->
	<div th:replace="header"></div>
	<div class="item-serch-list">
			<form class="serch-form" action="#" accept-charset="UTF-8" th:action="@{/techmatop/techma/itemserch/itemname}" method="get">
				<h1>Item Serch</h1>
				<input name="itemname" class="form-control" type="text" placeholder="item-serch"></input>
				<button type="submit"  placeholder="Item検索"></button>
			</form>
		<div class="items">
			<div class="item" th:each="item : ${items}">
			<a href="/techmatop/techma/item/" th:href="@{/techmatop/techma/item/itemId(itemId=${item.itemId})}">
				<img class="item-image" src="/image/techma.png"></img>
				<div class="status">
					<p>name:<span th:text="${item.itemname}"></span></p>
					<p>price:<span th:text="${item.price}"></span></p>
					<p>stock:<span th:text="${item.stock}"></span></p>
					<p>category:<span th:text="${item.category.categoryname}"></span></p>
					<p>comments:<span th:text="${item.comments}"></span></p>
				</div>
			</a>
			</div>
		</div>				
	</div>
	<div class="gototop"><a href="/techmatop/techma">Top</a></div>
	<!--footer.htmlの情報を読み込む-->
	<div class="footer">
	<div th:replace="footer"></div>
	</div>
	<script src="/js/demo.js"></script>
</body>	
</html>