<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
		<link rel="stylesheet" type="text/css" href="/css/login.css"></link>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<div id="login-form">
			<h2>techma Login</h2>
			<form action="#">
				<p>UserName</p>
				<input class="form-control" type="text" placeholder="UserName"></input>
				<p>Password</p>
				<input class="form-control" type="password" placeholder="Password"></input>
				<div id="submit-btn">Login</div>
				<div id="submit-btn"><a href="/top">TOP</a></div>
			</form>
		</div>
	</body>
</html>
	