<!DOCTYPE html>

<html>
<head>
<title>itemserch</title>
	<meta charset="utf-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
	<title>techma</title>
<link rel="stylesheet" type="text/css" href="/css/purchaseindex.css"></link>
<link rel="stylesheet" type="text/css" href="/css/responsive.css"></link>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
</head>
<body>
<canvas class="background"></canvas>
	<!--header.htmlの情報を読み込む-->
	<div th:replace="header"></div>
	<div class="item-serch-list">
		<h1>購入履歴一覧</h1>
			<div class="error">
				<div th:if="${nopurchase}"><span>購入商品がありません</span></div>
			</div>
		<div class="items">
			<div class="item" th:each="purchase : ${purchases}">
			<!--<a href="/techmatop/techma/item/" th:href="@{/techmatop/techma/item/itemId(itemId=${item.itemId})}">-->
				<a href="#">
				<img class="item-image" th:src="|/itemimage/${purchase.filename}|"></img>
				<div class="status">
					<p><span th:text="${purchase.purchasename}"></span></p>
					<p>金額:<span th:text="${purchase.item.price}"></span></p>
					<p>購入数:<span th:text="${purchase.stock}"></span></p>
					<p th:if="${purchase.cansellflg == true}"><span>ステータス：キャンセル</span></p>
					<p th:if="${purchase.cansellflg == false} and ${purchase.purchaseflg == false}"><span>ステータス：購入中</span></p>
					<p th:if="${purchase.purchaseflg == true}"><span>ステータス：購入済み</span></p>
				</div>
			</a>
			</div>
		</div>				
	</div>
	<div class="btn">
		<button class="cp_button04" onclick="location.href='javascript:history.back()'"><span>前のページへ</span></button>
	</div>
	<div class="footer">
	<div th:replace="footer"></div>
	</div>
	<script src="/js/demo.js"></script>
	<script src="/js/particles.min.js"></script>
	<script src="/js/itemserch.js"></script>
</body>	
</html>