* {
	box-sizing: border-box;
}

body {
	font-family: "Hiragino Kaku Gothic Prow";
}

a {
	text-decoration: none;
}

.clear {
	clear: left;	
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 outo;
}

.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url("/image/demo.jpg");
	color: #050705;
	background-size: cover;
	opacity: 0.8;
	text-align: center;
}
.top-wrapper h1 {
	opacity: 1;
	font-size: 45px;
	letter-spacing: 5px;
}
.top-wrapper p {
	opacity: 1;
	font-size: 25px;
}

.btn {
	padding: 8px 24px;
	color: white;
	display: inline-block;
	opacity: 0.8;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0px 7px #526059;	
}

.btn:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.btn:hover {
	opacity: 1;
}

.signup {
	background-color: #239b76;
}
.facebook {
	background-color: #3b5998;
	mergin-tight: 10px;
}

.twitter {
	background-color: #55acee;
}

.btn-wrapper {
	margin: 20px;
}

.btn-wrapper p {
	margin: 10px;
}

.contents-wrapper {
	
	padding-bottom: 80px;
	padding-left: 5%;
	padding-right: 5%;
	background-color: #eff2d5;
	text-align: center;
}

.heading {
	padding-top: 60px;
	padding-bottom: 30px;
	coler: #5f5d60;
	
}

.heading h2 {
	font-weight: normal;
	display: inline-block;
	padding: 10px;
	background-color: #2cd302;
	color: white;
	border-radius: 8px;
}

.service {
	float: left;
	width: 25%;
}

.service-icon {
	position: relative;
}

.service-icon p {
	position: absolute;
	top: 90px;
	width: 100%;
	color: #e29218;
}

.text-contents {
	width: 80%;
	display: inline-block;
	mergin-top: 20px;
	font-size: 12px;
	coler: #b3aeb5;
	display: none;
}

.message {
	background-color: #5dca88;
	padding: 15px 40px;
	cursor: pointer;
	box-shadow: 0px 7px #1a7940;
}

.message:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.heading h3 {
	font-weight: normal;
}

.message-wrapper {
	border-bottom: 1px solid #eee;
	padding-bottom: 80px;
	text-align: center;
}

.text-active {
	display: block;
}