body {	
	font-family: "Hiragino Kaku Gothic Prow";
	margin:0 auto;
	background-color: #efeeea;
}

h1 {
	color: white;
	padding-top: 80px;
	font-size: 20px;
	margin: 0px;
	background-color: #006c61;
	opacity: 0.7;
}

form {
	margin-top: 0px;
	
}

.items {
	width: 100%;
	padding-bottom:150px;
	
}

.item {
	margin-top: 10px;
	float: left;
	width: 100%;
	background-color: #fcffef;
	opacity: 0.9;
}

.items {
}

.item img {
	margin: 10px;
	width: 100px;
	height: 80px;
	float: left;
}

.status {
	font-size:10px;
	float: left;
	margin-left:5%;
	margin-top: 2%;
}

.error {
	font-size: 20px;
	text-align: center;
	background-color: white;
	color: red;
}
.item:hover {
	background-color: rgba(245, 255, 250, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
}

.item img:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 3px 3px 3px gray;
	transition: all 0.5s;
	border-radius: 8px;
}

input:hover {
	background-color: rgba(255, 255, 255, 0.7);
}
.items {
	min-height: 500px;
}

.btn {
	margin-bottom: 40px;
	margin-left:10px;
}

.background {
  background-color: #fcf3d1;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index:-1;
}

.cp_button04 {
	display: block;
	text-decoration:none;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	color: #FFF;
	border-radius: 4px;
	background: #4DD0E1;
	overflow: hidden;
}

.cp_button04 span {
	display:inline-block;
	transition: .5s
}
.cp_button04:hover span {
	transform: rotateX(360deg);
}

.cp_button04 {
	display: inline-block;
	padding: 1em;
	width: 160px;
	background: transparent;
	cursor: pointer;
	line-height: 1.4;
	user-select: none;
	vertical-align: bottom;
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	color: #F4511E;
	border: 1px solid #F4511E;
	border-radius: 0;
	position: relative;
	z-index: 1;
}
.cp_button04:hover:before {
	-webkit-transform: scale(0.85, 1) translate(8%, -15%);
	        transform: scale(0.85, 1) translate(8%, -15%);
}
.cp_button04:active:before {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 0.15s;
	-webkit-transform: scale(1, 1.2) translate(6%, 3%);
	        transform: scale(1, 1.2) translate(6%, 3%);
}
.cp_button04:before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transform: scale(0.3, 0.2) translate(12%, -20%);
	        transform: scale(0.3, 0.2) translate(12%, -20%);
	transform-origin: 5% -5%;
	background-color: #ff7043;
}
.cp_button04:hover,
.cp_button04:active {
	color: #ffffff;
	border: 1px solid #ff7043;
}
.cp_button04:focus {
	color: #ff7043;
	border: 1px solid #ff7043;
}
.cp_button04:focus:hover {
	color: #ffffff;
	border: 1px solid #ff7043;
}
.cp_button04:focus:before {
	background-color: #ff7043;
}

.cp_button01 {
	font-size: 11px;
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 160px;
	padding: 1em;
	line-height: 1.4em;
	cursor: pointer;
	user-select: none;
	transition: transform 0.2s, color 0.2s;
	-webkit-transform: translate(0.5em -0.4em);
	        transform: translate(0.5em -0.4em);
	color: #26c6da;
	border: 1px solid #26c6da;
	border-radius: 0;
	background: transparent;
}
.cp_button01:before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	transition: transform 0.2s, background-color 0.2s;
	-webkit-transform: translate(0.6em, -0.3em);
	        transform: translate(0.6em, -0.3em);
	background-color: rgba(238,138,118,0.5);
}
.cp_button01:hover {
	-webkit-transform: translate(0.2em, -0.1em);
	        transform: translate(0.2em, -0.1em);
	color: #ffffff;

}
.cp_button01:hover:before {
	-webkit-transform: translate(-0.4em, 0.4em);
	        transform: translate(-0.4em, 0.4em);
}
.cp_button01:active {
	transition-duration: 0.1s;
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
}
.cp_button01:active:before {
	transition-duration: 0.1s;
	-webkit-transform: translate(0, 0);
	        transform: translate(0, 0);
	background-color: rgba(38,198,218,0.5);
}
.cp_button01:focus {
	color: #26c6da;
	border: 1px solid #26c6da;
}
.cp_button01:focus:hover {
	color: #ffffff;
}
.cp_button01:focus:before {
	background-color: rgba(38,198,218,0.5);
}
