footer {
	width: 100%;
	background-color: #60CDB8;
}

.logo {
	width: 124px;
	margin-top: 20px;
}

.footer-left {
	float: left;
}

.footer-right button{
	float: right;
	background-color: rgba(255, 255, 255, 0.3); 
	transition: all 0.5s;
	mergin-bottom: 10px;
	box-shadow: 0px 10px 20px #526059;
	cursol: pointer;
	line-height: 65px;
	padding-right: 25px;
	padding-left: 15px;
	coler: white;
	display: block;
	height:55px;
	cursor : pointer;
}

.footer-right:active {
box-shadow: none;
	posotion: relative;
	top: 7px;
	
}

.footer-right :hover {
	background-color: rgba(255, 255, 255, 0.5);
	background-color: rgba(205, 205, 200, 0.8);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:1px;
}

.footercontainer {
	margin-top: 100px;
	padding-bottom: 15px;
}

.coments {
	display: inline-block;
	padding-top: 10px;
	padding-left: 10px;
}

button {
	color:#6e048c;
	font-size: 15px;
}