body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic Prow";
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 outo;
}
.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url("");
	color: #050705;
	background-size: cover;
	text-align: center;
}
.top-wrapper h1 {
	z-index: 10;
	font-size: 45px;
	letter-spacing: 5px;
	background-color: #60CDB8;
	color: white;
	
}

.pic-control {
	list-style: none;
	width: 85%;
	height: 35%;
	border: double 1px #60CDB8;
	margin-bottom:20px;
}

.pic-control input {
	height: 80px;
	cursol: pointer;
}

.pic-item {
	padding-top: 20px;
	display:inline-block;
	float: left;
	width: 23%;
	margin: 5px;
	height: 250px;
	border: double 5px #60CDB8;
	background-color: #F1F46C;
}

#pic-submit {
	width: 70%;
	
}

ul {
	list-style: none;
}

.itemname {
	margin: 10px;
	border: solid 1px #60CDB8;
}

.itemname input {
	height: 40px;
	width: 90%;
	margin-bottom: 10px;
}

.contains-form {
	display:inline-block;
	width :60%;
	background-color: #F1F46C;
	border: double 5px #60CDB8;
}

.ctegory-select {
	margin: 10px;
	border: solid 1px #60CDB8;
}

.ctegory-select select{
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
	
}

.condition-select {
	margin: 10px;
	border: solid 1px #60CDB8;
}

.condition-select select {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

.payment {
	border: solid 1px #60CDB8;
	margin: 10px;
}

.payment select {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

#item {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 40px;
}

.coments textarea {
	width: 100%;
	height: 80px;
	margin-bottom: 10px;
}

.form-check {
    display: inline-block;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    width: 60%;   
}

.item-form {
	background-color: #e8e8ea;
}

.form-check input {
	cursol: pointer;
}

.create-btn {
	margin-right: 60px;
	padding-right: 30px;
	background-color: #60CDB8;
	display: inline-block;
	font-size:25px;
	padding: 12px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
}

.gototop {
	float:left;
	background-color: #60CDB8;
	display: inline-block;
	font-size:25px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	height: 50px;
}

a {
	text-decoration: none;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.create-btn:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}