body {
	
	font-family: "Hiragino Kaku Gothic Prow";
	background-color: #caf7e4;	
	margin:0 auto;
	margin-top: -40px;
}

h1 {
	color: white;
	padding-top: 80px;
	font-size: 50px;
	text-align: center;
	background-color: #0f8453;
	margin-bottom:30px;
}

.serch-form {
	height: 300px;
	margin: 40px 80px 80px 80px;
	background-color: #F1F46C;
	border: double 5px #DBDBDB;
}

input {
	border: solid 2px BLACK;
	cursor: pointer !important;
	height: 50px;
	width: 50%;	
	margin-top: 10px;
}

.input {
	margin: 10px;
	background-color: #60CDB8;
	border: 3px solid #564e4d;
	float: right;
	
}

.items {
	background-color: white;
	width: 100%;
	padding: 50px;
}

.item {
	float: left;
	display:inline-bloc;
	width: 20%;
	margin:5px;
	border: double 5px #60CDB8;
	background-color: #F1F46C;
	cursor: pointer !important;
}

.items {
	display:inline-bloc;
	float: right;
}

.item img {
	margin-left: 15px;
	margin-top: 10px;
	width: 86%;
	height: 150px;
	border: double 5px #60CDB8;
}

p {
	border-bottom: 1px dotted #564e4d;
	max-width: 1200px;
	padding-left: 10px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
button {
	height: 56px;
	width: 60px;
	cursor: pointer !important;
}


.status {
	margin:10px;
	border: 1px solid #564e4d;
	height: 206px;
}

.gototop {
	border: solid 1px #95959b;
	background-color: #0f8453;
	display: inline-block;
	font-size:25px;
	padding: 10px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

.gototop a {
	color: white;
} 
a {
	text-decoration: none;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.gototop:hover {
	background-color: rgba(150, 100, 100, 0.6);
}

.error {
	font-size: 25px;
	text-align: center;
}
.item:hover {
	background-color: rgba(255, 255, 50, 0.5);
}
input:hover {
	background-color: rgba(255, 255, 255, 0.7);
}
.items {
	min-height: 300px;
}

button:hover {
	background-color: rgba(55, 255, 255, 0.5);
}