body {	
	font-family: "Hiragino Kaku Gothic Prow";
	margin:0 auto;
}

h1 {
	color: white;
	padding-top: 80px;
	font-size: 20px;
	margin: 0px;
	background-color: #006c61;
	opacity: 0.7;
}

.serch-form {
	padding-top: 150px;
	height: 100px;
}

form {
	margin-top: 0px;
}

input {
	margin-top: 50px;
	cursor: pointer !important;
	height: 30px;
	width: 30%;	
}

.input {
	margin: 10px;
	background-color: #60CDB8;
	border: 3px solid #564e4d;
	float: right;
}

.items {
	
	width: 100%;
	padding: 50px;
}

.item {
	float: left;
	display:inline-bloc;
	width: 20%;
	margin:5px;
	background-color:white;
	cursor: pointer !important;
}

.items {
	display:inline-bloc;
	float: right;
}

.item img {
	margin-left: 15px;
	margin-top: 10px;
	width: 86%;
	height: 150px;
}

p {
	max-width: 1200px;
	padding-left: 10px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}
button {
	height: 35px;
	width: 90px;
	cursor: pointer !important;
}


.status {
	font-size:9px;
}

.gototop {
	border: solid 1px #95959b;
	background-color: #006c61;
	display: inline-block;
	font-size:25px;
	padding: 10px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: white;
}

.gototop a {
	color: white;
} 
a {
	text-decoration: none;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.gototop:hover {
	background-color: rgba(150, 100, 100, 0.6);
}

.error {
	font-size: 15px;
	text-align: center;
	background-color: white;
}
.item:hover {
	background-color: rgba(245, 245, 230, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:8px;
}

.item img:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 10px 10px 10px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:1px;
}

input:hover {
	background-color: rgba(255, 255, 255, 0.7);
}
.items {
	min-height: 500px;
}

button:hover {
	background-color: rgba(55, 255, 255, 0.5);
}

.background {
  background-color: #fafafa;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index:-1;
}