body {
	margin: 0 auto;
	
}

.item-wrapper {
	display: inline-block;
}

.item-item {
	padding-left: 100px;
	margin-top: 60px;
	display: inline-block;
	margin-left: 200px;
	width: 55%;
	padding-right:60px;
	background-color: #F1F46C;;
	border: double 5px #60CDB8;
}

.item-item h1 {
	text-align: center;	
	font-size: 50px;
	width: 100%;
	margin-left: 30px;
	background-color: #60CDB8;
	color: white;
}

h2 {
	font-size: 40px;
	color: #60CDB8;
}

.item-item-image {
	height:200px;
	width: 35%;
	border: double 5px #60CDB8;
}

.item-item-status {
	border-top: 1px solid #a5aaa5;
	margin-bottom:10px;
	width: 80%;
	word-wrap: break-word;
}

.item-item-status p {
	border-bottom: 1px dotted #a5aaa5;
}

.coments-wrapper {
	height: outo;
	word-wrap: break-word;
	margin-bottom: 20px;
}

p {
	word-wrap: break-word;
}

.buy {
	border: solid 1px #95959b;
	margin-right:80px;
	padding: 10px;
	float: right;
	font-size:40px;
	background-color: #60CDB8;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.buy:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

a {
	text-decoration: none;
}

.gototop {
	border: solid 1px #95959b;
	margin-right: 20px;
	margin-top: 10px;
	float: right;
	background-color: #60CDB8;
	display: inline-block;
	font-size:40px;
	padding: 10px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	mergin-left: 70px;
}
.container {
	padding-bottom:20px;
}