body {
	margin: 0 auto;
	padding:opx;
	background-color: #F3F1F0;
}

.item-wrapper {
	padding-top: 55px;
}

.item-item {
	text-align: center;
}

h1 {
	font-size: 15px;
	background-color: #0f8453;
	color: white;
	background-color: #006c61;
	opacity: 0.7;
	height: 50px;
}

h2 {
	font-size: 20px;
}

.item-item-image {
	height:200px;
	width: 250px;
}

.item-item-status {
	word-wrap: break-word;
	margin-bottom: 150px;
	display: inline-block;
	width:60%;
}

.coments-wrapper {
	height: outo;
	word-wrap: break-word;
	padding-right:30px;
}
.item-btn {
	padding-bottom: 150px;
}


p {
	word-wrap: break-word;
	font-size: 13px;
}

.buy-btn input {
	height: 82px;
	border: solid 1px #95959b;
	padding: 10px;
	float: right;
	font-size:40px;
	background-color: #0f8453;
	box-shadow: 0px 7px #526059;
	cursor: pointer !important;
	transition: all 0.5s;
	border-radius: 8px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: white;
}

.buy:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

a ,input{
	text-decoration: none;
}

.coments-wrapper {
	float: right;
}

.item-status-wrapper {
	float: left;
}

.gototop {
	border: solid 1px #95959b;
	margin-right: 20px;
	margin-top: 10px;
	float: right;
	background-color: #0f8453;
	display: inline-block;
	font-size:40px;
	padding: 10px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	mergin-left: 70px;
}

.gototop a {
	color: white;
}

.gototop:hover {
	background-color: rgba(150, 100, 100, 0.6);
}

.buy-btn input:hover {
	background-color: rgba(150, 100, 100, 0.6);
}

select {
	cursor: pointer !important;
}

.background {
  background-color: #fff1e0;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-10;
}

.item-item-status:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 10px 10px 10px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:3px;
}

.item-item-image:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 10px 10px 10px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:3px;
}