body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic Prow";
	background-color: #F3F2F0;
}

.container {
	width: 100%;
	padding-left: 0px;
	padding-right: 5px;
}
.top-wrapper {
	padding-top: 57px;
	color: #050705;
}

.top-wrapper h1 {
	font-size: 10px;
	letter-spacing: 5px;
	background-color: #006c61;
	color: white;	
	height: 50px;
	opacity: 0.7;
}

.pic-control, .pic-control2, .pic-control3, .pic-control4{
	list-style: none;
	width: 85%;
	height: 30px;
	border: double 1px #60CDB8;
	margin-bottom:20px;
	font-size: 10px;
}

.pic-control input {
	height: 80px;
	cursol: pointer;
}

.pic-item, .pic-item2, .pic-item3, .pic-item4{
	padding-top: 20px;
	display:inline-block;
	float: left;
	width: 23%;
	margin: 5px;
	height: 250px;
	background-color: white;
	transition: all 0.5s;
	border-radius: 8px;
	border: solid 1px #b2b2b2;
	opacity: 0.8;
}

#pic-submit {
	width: 70%;
}

ul {
	list-style: none;
}

.itemname {
	margin: 10px;
}

.itemname input {
	height: 40px;
	width: 90%;
	margin-bottom: 10px;
}

.contains-form {
	display:inline-block;
	width :60%;
	text-align: center;
	font-size: 10px;
	border: solid 1px #b2b2b2;
	opacity: 0.8;
	transition: all 0.5s;
	border-radius: 8px;
}

.category-select {
	margin: 10px;
}

.category-select select{
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
	
}

.condition-select {
	margin: 10px;
}

.condition-select select {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

.payment {
	margin: 10px;
}

.payment select {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

#item {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 40px;
	
}

.coments textarea {
	width: 100%;
	height: 80px;
	margin-bottom: 10px;
}

.form-check {
    display: inline-block;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    width: 60%;
}

.item-form {
	wwidth: 100%;
	margin:0 auto;
}

.form-check input {
	cursol: pointer;
}

.canvas {
	height: 100%;
}

form {
	text-align: center;
	background-color: transparent;
}

a {
	text-decoration: none;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.create-btn:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.create-btn:hover {
	background-color: rgba(150, 100, 100, 0.6);
}
img {
	width: "220px";	
	height: "160px";
	padding: "60px";
}

.noimg {
	width: 200px;
}

.contains-form:hover {
	background-color: rgba(235, 235, 255, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:3px;
}

.gototop:hover {
	background-color: rgba(150, 100, 100, 0.6);
}

.pic-item:hover {
	background-color: rgba(155, 155, 250, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:3px;
}

.pic-item2:hover {
	background-color: rgba(255, 155, 150, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:3px;
}

.pic-item3:hover {
	background-color: rgba(255, 155, 250, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:3px;
}

.pic-item4:hover {
	background-color: rgba(155, 255, 250, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:3px;
}

input, select, textarea {
	cursor: pointer !important;
}

.item:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:3px;
}

.background {
  background-color: #fafafa;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-10;
}

.cp_button04 {
	display: block;
	text-decoration:none;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	color: #FFF;
	border-radius: 4px;
	background: #4DD0E1;
	overflow: hidden;
}

span {
	display:inline-block;
	transition: .5s
}
span:hover {
	transform: rotateX(360deg);
}

.cp_button04 {
	display: inline-block;
	padding: 1em;
	width: 160px;
	background: transparent;
	cursor: pointer;
	line-height: 1.4;
	user-select: none;
	vertical-align: bottom;
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	color: #F4511E;
	border: 1px solid #F4511E;
	border-radius: 0;
	position: relative;
	z-index: 1;
}
.cp_button04:hover:before {
	-webkit-transform: scale(0.85, 1) translate(8%, -15%);
	        transform: scale(0.85, 1) translate(8%, -15%);
}
.cp_button04:active:before {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 0.15s;
	-webkit-transform: scale(1, 1.2) translate(6%, 3%);
	        transform: scale(1, 1.2) translate(6%, 3%);
}
.cp_button04:before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transform: scale(0.3, 0.2) translate(12%, -20%);
	        transform: scale(0.3, 0.2) translate(12%, -20%);
	transform-origin: 5% -5%;
	background-color: #ff7043;
}
.cp_button04:hover,
.cp_button04:active {
	color: #ffffff;
	border: 1px solid #ff7043;
}
.cp_button04:focus {
	color: #ff7043;
	border: 1px solid #ff7043;
}
.cp_button04:focus:hover {
	color: #ffffff;
	border: 1px solid #ff7043;
}
.cp_button04:focus:before {
	background-color: #ff7043;
}