body {
	margin: 0 auto;
	padding:opx;
	background-color: #F3F1F0;
}
.error-massage {
	color :red;
}

.item-wrapper {
	padding-top: 55px;
}

.item-item {
	text-align: center;
}

h1 {
	font-size: 15px;
	background-color: #0f8453;
	color: white;
	background-color: #006c61;
	opacity: 0.7;
	height: 50px;
}

h2 {
	font-size: 20px;
}

.item-item-image {
	height:200px;
	width: 250px;
}

.item-item-status {
	word-wrap: break-word;
	margin-bottom: 150px;
	display: inline-block;
	width:60%;
}

.coments-wrapper {
	height: outo;
	word-wrap: break-word;
	padding-right:30px;
}

p {
	word-wrap: break-word;
	font-size: 13px;
	text-decoration:none;
}
span {
	font-size: 18px;
}

.coments-wrapper {
	float: right;
}

.item-status-wrapper {
	float: left;	
}

.item-status-wrapper p, .coments-wrapper p , .purchasenumber p{
	font-size: 15px;	
}

select {
	cursor: pointer !important;
	font-size: 20px;
}

.background {
  background-color: #fff1e0;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-10;
}

.item-item-status:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 10px 10px 10px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:1px;
}

.item-item-image:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 10px 10px 10px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:1px;
}

.cp_button04 {
	display: block;
	text-decoration:none;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	color: #FFF;
	border-radius: 4px;
	background: #4DD0E1;
	overflow: hidden;
}

.btn {
	margin-bottom: 50px;
}

span {
	display:inline-block;
	
	transition: .5s
}
span:hover {
	transform: rotateX(360deg);
}

.cp_button04 {
	display: inline-block;
	padding: 1em;
	width: 160px;
	background: transparent;
	cursor: pointer;
	line-height: 1.4;
	user-select: none;
	vertical-align: bottom;
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	color: #F4511E;
	border: 1px solid #F4511E;
	border-radius: 0;
	position: relative;
	z-index: 1;
}
.cp_button04:hover:before {
	-webkit-transform: scale(0.85, 1) translate(8%, -15%);
	        transform: scale(0.85, 1) translate(8%, -15%);
}
.cp_button04:active:before {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 0.15s;
	-webkit-transform: scale(1, 1.2) translate(6%, 3%);
	        transform: scale(1, 1.2) translate(6%, 3%);
}
.cp_button04:before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transform: scale(0.3, 0.2) translate(12%, -20%);
	        transform: scale(0.3, 0.2) translate(12%, -20%);
	transform-origin: 5% -5%;
	background-color: #ff7043;
}
.cp_button04:hover,
.cp_button04:active {
	color: #ffffff;
	border: 1px solid #ff7043;
}
.cp_button04:focus {
	color: #ff7043;
	border: 1px solid #ff7043;
}
.cp_button04:focus:hover {
	color: #ffffff;
	border: 1px solid #ff7043;
}
.cp_button04:focus:before {
	background-color: #ff7043;
}