body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic Prow";
}

.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 outo;
}
.top-wrapper {
	padding: 180px 0 100px 0;
	background-image: url("/image/item.jpg");
	color: #050705;
	background-size: cover;
	opacity: 0.9;
	text-align: center;
}
.top-wrapper h1 {
	z-index: 10;
	font-size: 45px;
	letter-spacing: 5px;
}

.pic-control {
	list-style: none;
	width: 85%;
	height: 35%;
	border: double 1px #008080;
	margin-bottom:20px;
}

.pic-control input {
	height: 80px;
	cursol: pointer;
}

.pic-item {
	padding-top: 20px;
	display:inline-block;
	float: left;
	width: 23%;
	margin: 5px;
	height: 250px;
	border: double 5px #008080;
	background-color: #c4f2dd;
	opacity: 0.8;
}

#pic-submit {
	width: 70%;
	
}

ul {
	list-style: none;
}

.itemname {
	margin: 10px;
	border: solid 1px #008080;
}

.itemname input {
	height: 40px;
	width: 90%;
	margin-bottom: 10px;
}

.contains-form {
	display:inline-block;
	width :60%;
	background-color: #c4f2dd;
	opacity: 0.7;
	border: double 5px #008080;
}

.ctegory-select {
	margin: 10px;
	border: solid 1px #008080;
}

.ctegory-select select{
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
	
}

.condition-select {
	margin: 10px;
	border: solid 1px #008080;
}

.condition-select select {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

.payment {
	border: solid 1px #008080;
	margin: 10px;
}

.payment select {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

#item {
	width: 90%;
	height: 40px;
	margin-bottom: 10px
	margin-right: 40px;
}

.coments textarea {
	width: 100%;
	height: 80px;
	margin-bottom: 10px;
}

.form-check {
    display: inline-block;
    color: white;
    margin: 10px auto;
    cursor: pointer;
    width: 40%;
    padding-right: 100px;
    padding-left: 100px;
}

.form-check a {
	padding: 10px 37px 13px 37px;
	background-color:white;
	text-decoration: none;
	cursol: pointer;
}

.form-check input {
	width: 100px;
	height: 50px;
	margin-bottom: 20px;
	cursol: pointer;
}

.form-check-top {
	
}

