body {
	margin: 0;
	font-family: "Hiragino Kaku Gothic Prow";
}

.container {
	width: 100%;
	padding-left: 0px;
	padding-right: 5px;
}
.top-wrapper {
	padding-top: 57px;
	color: #050705;
}

.top-wrapper h1 {
	font-size: 10px;
	letter-spacing: 5px;
	background-color: #006c61;
	color: white;	
	height: 50px;
	opacity: 0.7;
}

.pic-control, .pic-control2, .pic-control3, .pic-control4{
	list-style: none;
	width: 85%;
	height: 30px;
	border: double 1px #60CDB8;
	margin-bottom:20px;
	font-size: 10px;
}

.pic-control input {
	height: 80px;
	cursol: pointer;
}

.pic-item, .pic-item2, .pic-item3, .pic-item4{
	padding-top: 20px;
	display:inline-block;
	float: left;
	width: 23%;
	margin: 5px;
	height: 250px;
	background-color: white;
}

#pic-submit {
	width: 70%;
}

ul {
	list-style: none;
}

.itemname {
	margin: 10px;
}

.itemname input {
	height: 40px;
	width: 90%;
	margin-bottom: 10px;
}

.contains-form {
	display:inline-block;
	width :60%;
	text-align: center;
	font-size: 10px;
}

.category-select {
	margin: 10px;
}

.category-select select{
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
	
}

.condition-select {
	margin: 10px;
}

.condition-select select {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

.payment {
	margin: 10px;
}

.payment select {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
}

#item {
	width: 90%;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 40px;
	
}

.coments textarea {
	width: 100%;
	height: 80px;
	margin-bottom: 10px;
}

.form-check {
    display: inline-block;
    color: white;
    margin: 10px 10px;
    cursor: pointer;
    width: 60%;
}

.item-form {
	wwidth: 100%;
	margin:0 auto;
}

.form-check input {
	cursol: pointer;
}

.canvas {
	height: 100%;
}

form {
	text-align: center;
	background-color: transparent;
}

.create-btn {
	color: white;
	border: solid 1px #95959b;
	margin-right: 60px;
	padding-right: 30px;
	background-color: #006c61;
	display: inline-block;
	font-size:25px;
	padding: 12px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	opacity: 0.7;
}

.gototop {
	border: solid 1px #95959b;
	float:left;
	background-color: #006c61;
	display: inline-block;
	font-size:25px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	height: 50px;
	padding-right: 10px;
	padding-left: 10px;
	opacity: 0.7;
}

.gototop a {
	color: white;
}
a {
	text-decoration: none;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.create-btn:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.create-btn:hover {
	background-color: rgba(150, 100, 100, 0.6);
}
img {
	width: "220px";	
	height: "160px";
	padding: "60px";
}

.noimg {
	width: 200px;
}

.contains-form:hover {
	background-color: rgba(235, 235, 255, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:3px;
}

.gototop:hover {
	background-color: rgba(150, 100, 100, 0.6);
}

.pic-item:hover {
	background-color: rgba(235, 255, 250, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:3px;
}

.pic-item2:hover {
	background-color: rgba(255, 255, 200, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:3px;
}

.pic-item3:hover {
	background-color: rgba(225, 225, 235, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:3px;
}

.pic-item4:hover {
	background-color: rgba(255, 235, 230, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:3px;
}

input, select, textarea {
	cursor: pointer !important;
}

.item:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding:3px;
}

.background {
  background-color: #edfff5;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-10;
}
