body {
	background-image: url("/image/login2.jpg");
	
}

#login-form {
	display: inline-block;
	margin: 0 outo;
	text-align: center;
	opacity: 0.9;
}
h2 {
	font-size:40px;
	text-align: center;
	
}

p {
	color: white; 
	font-size:20px;
}	

form {
	
	margin-right: 400px;
	margin-left: 400px;
	border: 2px solid #d0d5d8;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-wrapper {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 100;
}

.modal {
	margin: auto;
	margin-top: 70px;
	top: 20%;
	left: 34%;
	padding: 20px 0 40px;
	border-radius: 10px;
	max-width: 450px;
	width: auto;
	height: auto;
	text-align: center;
}

.modal h2 {
	padding-left: 30px;
	color:;
}

#contact-form, #login-form, #signup-form {
  width: 100%;
}

#contact-form h2, #login-form h2, #signup-form h2 {
  color: white;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#contact-form input, #login-form input, #signup-form input {
  width: 420px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursol: pointer;
}

button {
	background-color: #5dca88;
	cursol: pointer;
}

#submit-btn a {
	color: white;
	text-decoration: none;
	cursol: pointer;
}

.yubi {
  cursor : pointer;
}

#submit-btn:hover {
	background-color: rgba(150, 100, 100, 0.6);
}

input {
	cursor : pointer;
}
