body {	
	font-family: "Hiragino Kaku Gothic Prow";
	margin:0 auto;
	background-color: #F3F2F0;
}

h1 {
	color: white;
	padding-top: 80px;
	font-size: 20px;
	margin: 0px;
	background-color: #006c61;
	opacity: 0.7;
}

.serch-form {
	padding-top: 150px;
	height: 100px;
}

form {
	margin-top: 0px;
}

input {
	margin-top: 50px;
	cursor: pointer !important;
	height: 30px;
	width: 30%;	
}

.input {
	margin: 10px;
	background-color: #60CDB8;
	border: 3px solid #564e4d;
	float: right;
}	

.items {
	
	width: 100%;
	padding: 10px;
}

.item {
	float: left;
	display:inline-bloc;
	width: 20%;
	margin:5px;
	background-color: white;
	cursor: pointer !important;
	border: solid 1px #b2b2b2;
	border-radius: 8px;
}

.items {
	display:inline-bloc;
	float: right;
}

.item img {
	margin-left: 15px;
	margin-top: 10px;
	width: 86%;
	height: 150px;
}

p {
	max-width: 1200px;
	padding-left: 10px;
	white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;
}

.status {
	font-size:9px;
}

a {
	text-decoration: none;
}

.error {
	font-size: 15px;
	text-align: center;
	background-color: white;
	color: red;
}
.item:hover {
	background-color: rgba(245, 255, 250, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
}

.item img:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 3px 3px 3px gray;
	transition: all 0.5s;
	border-radius: 8px;
}

input:hover {
	background-color: rgba(255, 255, 255, 0.7);
}
.items {
	min-height: 500px;
}

.btn {
	margin-left:10px;
}

.background {
  background-color: #fafafa;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index:-1;
}

.cp_button04 {
	display: block;
	text-decoration:none;
	width: 160px;
	padding: 0.8em;
	text-align: center;
	color: #FFF;
	border-radius: 4px;
	background: #4DD0E1;
	overflow: hidden;
}

.cp_button04 span {
	display:inline-block;
	transition: .5s
}
.cp_button04:hover span {
	transform: rotateX(360deg);
}

.cp_button04 {
	display: inline-block;
	padding: 1em;
	width: 160px;
	background: transparent;
	cursor: pointer;
	line-height: 1.4;
	user-select: none;
	vertical-align: bottom;
	transition: transform 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	color: #F4511E;
	border: 1px solid #F4511E;
	border-radius: 0;
	position: relative;
	z-index: 1;
}
.cp_button04:hover:before {
	-webkit-transform: scale(0.85, 1) translate(8%, -15%);
	        transform: scale(0.85, 1) translate(8%, -15%);
}
.cp_button04:active:before {
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition-duration: 0.15s;
	-webkit-transform: scale(1, 1.2) translate(6%, 3%);
	        transform: scale(1, 1.2) translate(6%, 3%);
}
.cp_button04:before {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	content: '';
	transition: transform 0.3s, background-color 0.3s;
	-webkit-transform: scale(0.3, 0.2) translate(12%, -20%);
	        transform: scale(0.3, 0.2) translate(12%, -20%);
	transform-origin: 5% -5%;
	background-color: #ff7043;
}
.cp_button04:hover,
.cp_button04:active {
	color: #ffffff;
	border: 1px solid #ff7043;
}
.cp_button04:focus {
	color: #ff7043;
	border: 1px solid #ff7043;
}
.cp_button04:focus:hover {
	color: #ffffff;
	border: 1px solid #ff7043;
}
.cp_button04:focus:before {
	background-color: #ff7043;
}