@media (max-width: 1000px ) {
	.service {
		width: 50%; 
   		margin-bottom:50px;
	}
	.top-rapper h1 {
	font-size: 32px;
	}
	
	.pic-item {
	width: 90%;
	margin: auto;
	text-aligin: center;
	
	.heaging h2 {
	font-size: 20px;
	}
}

@media (max-width: 670px ) {
	.pic-item {
	width: 90%;
	margin: auto;
	text-aligin: center;
	}
	.item {
	width: 90%;
	}
	.contains-form {
	text-aligin: center;
	width: 70%;
	margin: auto;
	}
	.service {
	width: 100%;
	}
	footer {
	text-aligin: center;
	}
	footer {
	text-aligin: center;
	}
	.btn {
	width: 100%;
	}
	.facebook {
	margin-bottom: 10px;
	}
	.top-wrapper {
	text-aligin: left;
	padding-top: 130px;
	}
	.top-wrapper h1 {
	font-size: 24px;
	}
	.top-wrapper p {
	font-size: 14px;
	}
	.form-check-top {
	margin-right: 45px;
	}
	.btn-info {
	margin-right: 45px;
	}
}