body {
	background-color: #DFD8F3;
}

#login-form {
	text-align: center;
	display: inline-block;
	width: 30%;
	background-color: #D5CCF3;
	opacity: 0.9;
	transition: all 0.5s;
	border-radius: 8px;
	padding-bottom: 60px;
}

.center {
	text-align: center;
}

h2 {
	font-size:30px;
	text-align: center;
}

p {
	font-size:20px;
	text-align: center;
}	

.modal-wrapper {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}

#contact-form h2, #login-form h2, #signup-form h2 {
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursol: pointer;
}

#submit-btn a {
	color: white;
	text-decoration: none;
	cursol: pointer;
}

.background {
  background-color: #9277F3;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-10;
}

#submit-btn:hover {
	background-color: rgba(235, 220, 255, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	
}

#login-form:hover {
	background-color: rgba(235, 220, 255, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
}

.box {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  background: lighten(#f0f4c3, 10%);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #0af;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 80% 98%;
  border-radius: 93%;
  animation: drift 4000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

form:hover {
	background-color: rgba(255, 255, 250, 0.5);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  transform: translate3d(0, 0, 0);
}

.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}
View Compiled 
Resources
}