body {
	
}

#login-form {
	text-align: center;
	margin-top:300px;
}

h2 {
	font-size:30px;
	text-align: center;
}

p {
	font-size:20px;
	text-align: center;
}	

.modal-wrapper {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
}

#contact-form h2, #login-form h2, #signup-form h2 {
  letter-spacing: 1px;
  margin-bottom: 40px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #5dca88;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursol: pointer;
}

#submit-btn a {
	color: white;
	text-decoration: none;
	cursol: pointer;
}

.background {
  background-color: #8782af;
  position: absolute;
  top: 0;
  left: 0;
  z-index:-10;
}

#submit-btn:hover {
	background-color: rgba(235, 220, 255, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	margin:1px;
}

#login-form:hover {
	background-color: rgba(235, 220, 255, 0.7);
	box-shadow: 0 0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
}