body {
	margin: 0 auto;
}

.item-wrapper {
	display: inline-block;
}

.user-user {
	margin-top: 60px;
	display: inline-block;
	margin-left: 200px;
	width: 80%;
	
}

.user-user h1 {
	text-align: center;	
	font-size: 50px;
	width: 100%;
	background-color: #DBDBDB;
	color: #60CDB8;
	border: solid 2px #DBDBDB;
}

.user-image {
	margin-top: 40px;
	height:250px;
	width: 35%;
	border: 4px solid #564e4d;
}

.item-status-wrapper {
	border-top: solid 2px #DBDBDB;
	background-color: white;
}

.coments-wrapper {
	height: outo;
	word-wrap: break-word;
	width: 100%;
	border-top: solid 2px #DBDBDB;
	border-bottom: solid 2px #DBDBDB;
	background-color: white;
}

p {
	word-wrap: break-word;
}

.buy {
	border: solid 1px #60CDB8;
	margin-right:80px;
	padding: 10px;
	float: right;
	font-size:40px;
	background-color: #4ef442;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	margin-bottom: 10px;
}

.buy:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

a {
	text-decoration: none;
}

.gototop {
	border: solid 1px #95959b;
	background-color: #60CDB8;
	display: inline-block;
	font-size:25px;
	padding: 10px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	margin-left: 70px;
	margin-bottom: 70px;
}
