body {
	margin: 0 auto;
	background-color: #DAD8D6;
}

.item-wrapper {
	text-align: center;
	padding-bottom:20px;
}

.item-container {
	display: inline-block;
	width: 40%;
}

.user-user {
	margin-top: 100px;
	margin-bottom: 30px;
	display: inline-block;
	text-align: center;
	background-color: #C1BFBD;
	opacity: 0.7;
	transition: all 0.5s;
	border-radius: 8px;
}

h1 {
	font-size: 20px;
	padding-top: 70px;
	background-color: #006c61;
	color: white;
	margin: 0px;
	opacity: 0.7;
}

.user-image {
	margin-top: 40px;
	height:35%;
	width: 50%;
}

.item-status-wrapper {
}

.coments-wrapper {
	height: outo;
	word-wrap: break-word;
}

p {
	word-wrap: break-word;
	font-size:12px;
}

.buy {
	border: solid 1px #60CDB8;
	margin-right:80px;
	padding: 10px;
	float: right;
	font-size:40px;
	background-color: #4ef442;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	margin-bottom: 10px;
}

.buy:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

.gototop:active {
	box-shadow: none;
	posotion: relative;
	top: 7px;
}

a {
	text-decoration: none;
}

.gototop {
	border: solid 1px #95959b;
	background-color: #0f8453;
	display: inline-block;
	font-size:25px;
	padding: 10px;
	box-shadow: 0px 7px #526059;
	cursol: pointer;
	transition: all 0.5s;
	border-radius: 8px;
	margin-left: 70px;
	float:right;
}

.gototop a {
	color: white;
}

.gototop:hover {
	background-color: rgba(150, 100, 100, 0.6);
}

.background {
  background-color: #676665;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index:-1;
}

.user-user:hover {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0  0 40px gray;
	transition: all 0.5s;
	border-radius: 8px;
	padding: 1px;
}

.user-image:hover {
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 10px 10px 10px gray;
	transition: all 0.5s;
	border-radius: 8px;
}