@charset "UTF-8";

body {
	font-family:"メイリオ","ＭＳ Ｐゴシック", Tahoma, Arial, sans-serif;
    line-height: 1.7;
    color: #333;
	font-size: 12px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
}
abbr,acronym { border:0;
}


 * {
	margin: 0;
	padding: 0;
}

/* ------  reset  ------ */

body {
  color: #333;
  font-size: 0.875em;
	font-family:
		"Hiragino Kaku Gothic Pro",
		"ヒラギノ角ゴ Pro W3",
		Meiryo,
		"メイリオ",
		Osaka,
		"MS P Gothic",
		"ＭＳ Ｐゴシック",
		sans-serif;
  line-height: 1.0;
}
#container{
  height: auto;
  width: 600px;
  background: #87CEFA;
  margin: 20px auto;
  padding: 5px;

}

#content{

}
p{
  padding: 3px;
  font-weight: bold;
}
#personal{
  width: 180px;
  background: #EEF;
}
#personal2{
  width: 300px;
  background: #EEF;
}
#content{
  width: 540px;
  background: #EEA;
}
#pulldown{
  background: #F80;
}
.botton{
  margin-top: 5px;
}
