img {
  display: block;

}
div {
  text-align: center;
  line-height: 1.0;
  position: relative;
  background-color: black;

  display: block;
  width: 500px;
  height: 447px;
  background-repeat: no-repeat;

}
.a010 {
  position: absolute;
  top: 348;
  padding-left: 21;


}
.b010 {
  position: absolute;
  top: 292px;
  left: 103px;

}
.c010 {
  position: absolute;
  top: 184;
  left: 21px;
}
.d010 {
  position: absolute;
  top: 104;
  left: 158px;
}
.e010 {
  position: absolute;

}
.f010 {
  position: absolute;

}
.g010 {
  position: absolute;

}
.h010 {
  position: absolute;
}
.i010 {
  position: absolute;

}
.j010 {
  position: absolute;

}
.k010 {
  position: absolute;

}
