

body {
  background-image: url(img/ダウンロード.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: fixed;
  background-size: cover;
  background-color: #f45f42;
  color: #a0704e;
  opacity: 0.8;
}

h1 , h2 {
  opacity: 1;
}

.cosmo, .corona {
  opacity: 1;
  width: auto;
  height: auto;
  color :#707f73;
}
