body {
  background-color: #8FBC8B;
  background-image: url(img/20180721143947.jpg);
  background-repeat: repeat-x;
  background-size: cover;
}
h1 {
  font-family: serif;
  font-size: 2.2em;
  color: #FFF;
}
h2 {
  font-style: 1.2em;
  color: #FFF;
  padding-left: 10px;
  background-color: #BC8F8F;
}
p {
  font-size: 0.85em;
  line-height: 2.0;
  padding: 10px;
  color: #333;
  background-color: #F5F5DC;
}
.a {
  list-style-type: none;
}
li a {
  font-size: 1.6em;
  font-weight: bold;
}
li a:link {
  color: coral;
}
li a:visited {
  color: turquoise;
}
li a:hover {
  color: skybule;
}
li a:active{
  color: lawngreen;
}
.b {
  list-style-type: none;
}
.d a{
  display: block;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  width: 300px;
  padding: 2px 10px;
  text-decoration: none;
}
.d a:link {
  background-color: colal;
}
.d a:visited {
  background-color: turqoise;
}
.d a:active {
  background-color: lawngreen;
}
h3 {
  color: #FFF;
  font-size: 1.0em;
  background-color: #1565b5;
}
.padding {
  font-size: 0.875em;
  background-color: #bdd4eb;
}
h3, .pa {
  mergin: 0;
  padding: 1.0em;
}
 {
  height: 100px;
  width: 150px;
  width: auto;
}
p {
  margin: 0;
  background-image: url(img/20180725153332.jpg);
  background-repeat: repeat-x;
  opacity: 0.7;
}
