@charset "UTF-8";

body {
	font-family:"メイリオ","ＭＳ Ｐゴシック", Tahoma, Arial, sans-serif;
    line-height: 1.7;
    color: #333;
	font-size: 12px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
}
abbr,acronym { border:0;
}


 * {
	margin: 0;
	padding: 0;
}

/* ------  reset  ------ */

body {
  color: #333;
  font-size: 0.875em;
	font-family:
		"Hiragino Kaku Gothic Pro",
		"ヒラギノ角ゴ Pro W3",
		Meiryo, 
		"メイリオ", 
		Osaka, 
		"MS P Gothic", 
		"ＭＳ Ｐゴシック", 
		sans-serif;
  line-height: 1.0;
}
img {
	border-style: none;
}

#container {
  background-image: url(img/bg.gif);
  width: 600px;
  height: auto;
  margin: 0 auto;
}
#header {
  background-image: url(img/header.gif);
  background-repeat: no-repeat;
  width: 600px;
  height: 115px;
  margin: 0;
}
p.update{
  padding: 5px;
  text-align: right;
  font-weight: bold;
}

#content p {
  line-height: 1.6;
  margin: 0;
}
#info{
  padding: 0 0 0 30px;
  line-height: 1.5;
}
#info h2{
  line-height: 1.5;
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: bold; 
}
#info dl.infomation{
  line-height: 2.0;
}
/* 定義リストの改行指定  使える  */
dt.row1, dt.row2, dt.row3, dt.row4, dt.row5, dt.row6{
  margin: 0 5px 0 0;
  float: left;
}/*  ------  不要だと判明  ------
dt.row2, dt.row3, dt.row4, dt.row5, dt.row6,{
  clear: both;
}  --------------------------  */
/* 画像 */
#strPic{
  padding: 20px;
  margin: 10px 0 10px 20px;
  line-height: 1.5;
  clear: both;  /* なぜか無くても大丈夫…  */
}
div#footer {
  width: 600px;
  height: 96px;
  text-align: center;
  line-height: 2.5;
}
